* {
  padding: 0;
  margin: 0; }

.container {
  margin: 0 auto;
  width: 1129px; }

.nav {
  border-bottom: 1px solid #80808012;
  padding-bottom: 14px;
  position: relative;
  top: 12px;
  padding-right: 101px;
  font-size: 14px;
  background-color: white; }
  .nav__btn {
    text-decoration: none;
    background: transparent;
    padding: 5px;
    color: black; }
  .nav_hover:hover {
    color: #c1ad89; }
  .nav__icone-fill {
    color: #ad9263;
    padding-top: 6px;
    font-size: 16px; }
  .nav__padding {
    padding-left: 19px;
    padding-top: 6px; }
  .nav__padding1 {
    padding-left: 46px;
    padding-top: 6px; }
  .nav__col1 {
    display: flex; }
  .nav__col2 {
    display: flex; }
  .nav__number {
    font-weight: bold;
    font-size: 16px; }
  .nav__rectangle {
    font-weight: 700;
    padding: 1rem 1.5rem;
    border: 2px solid #ad9263;
    background-color: #ad9263;
    color: white;
    text-transform: uppercase;
    border-radius: 7px; }
    .nav__rectangle:hover {
      background-color: #c1ad89;
      border-color: #c1ad89;
      color: white; }

.menu__img {
  width: 134px;
  padding-top: 30px; }

.menu__text {
  padding-top: 46px;
  list-style: none; }
  .menu__text__space {
    margin-right: 31px;
    font-weight: bold; }
    .menu__text__space__home {
      color: #ad9263; }
    .menu__text__space__color {
      color: rgba(54, 58, 62, 0.8); }

.Carousel__first__img {
  width: 100%;
  height: 660px; }

.Carousel__overlly {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 132px;
  background-color: rgba(53, 57, 61, 0.9);
  width: 100%;
  height: 529px;
  color: white; }
  .Carousel__overlly__h1 {
    font-size: 63px;
    text-transform: uppercase; }
  .Carousel__overlly__h3 {
    font-size: 27.3px;
    padding-top: 8px; }
  .Carousel__overlly__p {
    font-size: 19.4px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 8px;
    padding-bottom: 33px; }

.Carousel__btn {
  display: flex;
  margin-left: 653px; }
  .Carousel__btn__circle {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: 45px;
    border: 1px solid #212529;
    background-color: #212529;
    margin-right: 14px; }
    .Carousel__btn__circle:hover {
      cursor: pointer; }
  .Carousel__btn__trans {
    background: transparent; }

.card__first {
  padding-left: 46px;
  background-color: white;
  width: 219px;
  height: 382px;
  box-shadow: 0 0 31px -5px rgba(0, 0, 0, 0.14);
  padding-top: 9px;
  padding-right: 46px;
  transition: transform .3s; }
  .card__first:hover {
    transform: scale(1.03); }

.card__img {
  font-size: 58px;
  display: flex;
  justify-content: center; }

.card__read {
  display: flex;
  color: #ad9263;
  justify-content: center; }

.card__icon {
  margin-left: 4px;
  padding-top: 2px;
  color: #ad9263; }

.card__h2 {
  padding-top: 14px;
  padding-bottom: 15px;
  text-align: center; }

.card__p {
  text-align: center;
  padding-bottom: 14px; }

.content__h2 {
  font-family: Lora,sans-serif;
  font-weight: 700;
  letter-spacing: -1.925px;
  font-style: italic;
  text-align: left;
  line-height: 42px;
  font-size: 38.5px;
  width: 500px; }

.content__div1 {
  background-color: #ad9263;
  width: 409px;
  position: absolute;
  height: 282px;
  right: 167px;
  top: 1191px;
  box-shadow: 0 0 31px -5px rgba(0, 0, 0, 0.14);
  transition: transform .3s; }
  .content__div1:hover {
    cursor: pointer;
    transform: scale(1.03); }

.content__div2 {
  background-color: #f3f3f3;
  width: 435px;
  height: 313px;
  right: 30px;
  bottom: 25px;
  position: relative;
  right: -32px;
  box-shadow: 0 0 31px -5px rgba(0, 0, 0, 0.14); }

.content__p {
  width: 600px;
  padding-top: 28px;
  padding-bottom: 35px;
  line-height: 1.9;
  font-weight: 300; }

.content__p1 {
  color: #969696;
  letter-spacing: 2.5px;
  padding-bottom: 29px; }

.content__end {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #80808012; }

.sponsor {
  height: 145px;
  padding-top: 87px; }
  .sponsor__inner {
    display: flex;
    justify-content: space-around; }
  .sponsor__img {
    max-width: 90px; }

.Footer__inner {
  background-color: #212529;
  width: 100%;
  height: 479px; }

.Footer__h5 {
  padding-bottom: 15px;
  font-size: 22px;
  line-height: 18.7167px;
  vertical-align: baseline;
  letter-spacing: -1.0395px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: white;
  text-align: left;
  text-decoration: white;
  text-transform: capitalize; }

.Footer__text {
  width: 250px;
  font-family: Poppins, sans-serif;
  font-size: 14.86px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: #999999;
  vertical-align: baseline;
  padding-bottom: 15px; }

.Footer__ul {
  list-style: none;
  line-height: 33px; }

.Footer__contact {
  line-height: 33px; }

.Footer__social {
  padding-top: 15px;
  margin-left: 16px; }
  .Footer__social__icon {
    font-size: 23px;
    color: #ad9263; }

.Footer__numb {
  font-weight: bold;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 14.86px;
  line-height: 26px;
  font-weight: 400;
  text-align: left; }

.Copyright {
  background-color: #1c2023;
  height: 90px;
  margin-top: 79px; }
  .Copyright__p {
    font-family: Poppins, sans-serif;
    font-size: 12.6px;
    text-align: center;
    color: #999999;
    padding-top: 39px; }

.nav__row {
  display: flex;
  justify-content: space-between; }

.Carousel__first {
  padding-top: 26px;
  display: flex;
  position: relative;
  justify-content: center;
  height: 491px; }
  .Carousel__first__img {
    width: 100%; }

.card {
  display: flex;
  justify-content: space-around;
  position: relative; }

.content {
  padding-top: 100px;
  display: flex; }

.Footer__row {
  display: flex;
  justify-content: space-around;
  padding-top: 109px; }
