.Footer{
     &__inner{
         background-color: $color;
         width: 100%;
         height: 479px;
     }
     &__h5{
         padding-bottom: 15px;
         font-size: 22px;
         line-height: 18.7167px;
        vertical-align: baseline;
        letter-spacing: -1.0395px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 700;
        color: $white-color;
        text-align: left;
        text-decoration: $white-color;
        text-transform: capitalize;
     }
     &__text{
        width: 250px;
        font-family: Poppins, sans-serif;
        font-size: 14.86px;
        line-height: 26px;
        font-weight: 400;
        text-align: left;
        color: $text-color;
        vertical-align: baseline;
        padding-bottom: 15px;

     }
     &__ul{
         list-style: none;
         line-height: 33px;
     }
     &__contact{
         line-height: 33px;
     }

     &__social{

        padding-top: 15px;
        margin-left: 16px;
        &__icon{
            font-size: 23px;
            color: $main-Color;
        }
     }
     &__numb{
         font-weight: bold;
         color: $white-color;
         font-family: Poppins, sans-serif;
         font-size: 14.86px;
         line-height: 26px;
         font-weight: 400;
         text-align: left;
     }
}
.Copyright{
    background-color: rgb(28, 32, 35);
    height: 90px;
    margin-top: 79px;
    &__p{
        font-family: Poppins, sans-serif;
        font-size: 12.6px;
        text-align: center;
        color: $text-color;
        padding-top: 39px;
        
    }
}