$main-Color: rgb(173, 146, 99);
$last-color:rgb(193, 173, 137);
$sec-color : rgba(53, 57, 61, 0.9);
$dark-color:black; 
$dark-opacity : rgba(54, 58, 62, 0.8);
$white-color : white;
$gray-white:rgb(243, 243, 243);
$text-color:rgb(153, 153, 153);
$white-opacity:#80808012;
$color:rgb(33, 37, 41);
$colorz:rgb(53, 57, 61);